<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>

    <!-- 부트스트랩 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- 로컬 -->
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="/scripts/main.js"></script>

    <link rel="stylesheet" href="../public/stylesheets/main.css">
    <script src="../public/script/main.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light position-fixed w-100">
        <a class="navbar-brand" href="/">JBang</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between w-100" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posting.ejs">Posting</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <% //if (ID) { %>
                <li class="nav-item">
                    <a class="nav-link" href="#"><% //ID %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout.ejs">Logout</a>
                </li>
                <% //} else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/login.ejs">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/join.ejs">Join</a>
                </li>
                <% //} %>
            </ul>
        </div>
    </nav>

    <main id="main" class="row m-0">
        <div id="posts" class="row col-10 mx-auto py-5 font-posts shadow">
            <a class="post-column row col-12 m-0 py-3 border-bottom" href="post.ejs">
                <span class="col-7">제목제목제목제목제목</span>
                <span class="col-2 text-center">글쓴이</span>
                <span class="col-2 text-center">YYYY-MM-DD</span>
                <span class="col-1 text-center">3</span>
            </a>

            <% //for (var i = 0; i < postList.length; i++) { %>
                <a class="post-column row col-12 m-0 py-3 border-bottom" href="post<%= //******** %>.ejs">
                    <span class="col-7"><%= //postList[i].title %></span>
                    <span class="col-2 text-center"><%= //postList[i].author.ID %></span>
                    <span class="col-2 text-center"><%= //postList[i].Date %></span>
                    <span class="col-1 text-center"><%= //postList[i].comment.length %></span>
                </a>
            <% //} %>
        </div>
    </main>
</body>

</html>